<div class="page-content page-container" id="page-content">
	<div class="padding">
		<div class="row container d-flex justify-content-center">
			<div class="col-md-12">
				<div class="card px-3">
					<div class="card-body">
						<h2 class="xcard-title text-center">
							{{title}}
						</h2>

						<div class="add-items d-flex">
							<label for="td"></label>
							<input [(ngModel)]="todo" type="text" id="td" class="form-control todo-list-input"
							       placeholder="What do you need to do today?">
							<button (click)="addToDo()" class="add btn btn-primary font-weight-bold todo-list-add-btn">Add
							</button>
						</div>
						<div class="list-wrapper">
							<ul class="d-flex flex-column-reverse todo-list">
								<li *ngFor="let td of todos; let index = index;"
								    class="border px-3 py-3 mt-3 d-flex align-items-center">
									<label class="form-check-label flex-grow">{{td}}</label>
									<i (click)="deleteToDo(index)" class="remove fa fa-times-circle text-danger"></i>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
