<div class="container-fluid">
	<div class="row bg-primary justify-content-center align-items-center">
		<div class="col-6 text-light text-center h1 my-2 mx-auto">
			{{title}}
		</div>
	</div>

	<div class="row mt-1 py-2 bg-primary d-flex text-light">

		<div class="form-group form-row col-10 mr-auto ml-auto my-0">

			<label for="task" class="col-3 h4">Task</label>
			<input [(ngModel)]="todo" type="text" value="" class="col-9 mb-2 form-control" id="task">

			<button (click)="addToDo()" class="btn btn-block btn-light text-primary col-2 offset-10">
				ADD
			</button>
		</div>
	</div>

	<div *ngFor="let x of todos; let index = index;" class="row mt-1">

		<div class="mx-auto col-10 bg-primary d-flex justify-content-center align-items-center text-light">

			<div class="col-10 text-light my-3 h6">{{x}}</div>

			<input (click)="deleteToDo(index)" type="button" value="Remove" class="col-2 my-3 btn btn-danger">
		</div>

	</div>
</div>
